extends layout

block content
  h1 Reserve an interpreter
  h3#availableHours You have #{hours} hour(s) to make reservations
  if msg
    h3= msg
  if hours > 0
    h3 Please select the date and time you want to reserve
    form#reservationForm(action='/reservations/add', method='post')
      input#dateSelector(type='text', placeholder='Reservation Date', name='reservationDate')
      br
      input#beginTimeSelector(type='text', placeholder='From what time?', name='beginTime')
      br
      input#endTimeSelector(type='text', placeholder='To what time?', name='endTime')
      br
      button(type='submit') Confirm
  else
    h3 Sorry please buy more hours to make reservations
  h3 Your reservations
  #userReservations
    ul
    each reserv in userReservations
      li Reservation date: <strong>#{reserv.reservationDate}</strong>. From: <strong>#{reserv.beginTime}</strong> To <strong>#{reserv.endTime}</strong>
        br
        | Approved by admin: <strong>#{reserv.approved_by_admin}</strong> <br>
        if reserv.approved_by_admin
          | Confirmed by user: <strong>#{reserv.confirmed_by_user}</strong> <br>
          if reserv.confirmed_by_user
            | Link to video: 
            a(href='/video/#{reserv._id}') Test link.
  a(href='/reservations/add-password') Get more hours
  br
  a(href='/users/userinfo') Profile
  br
  a(href='/instructions') Instructions

block script
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
  script(src='/javascripts/vendor/timepickeraddon.js')
  script(src='/javascripts/reservations.js')