extends layout

block content
  div.navbar.navbar-default(role="navigation")
    div.container-fluid
        div.navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav-links")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            span.navbar-brand Supplier Profile

        div.navbar-collapse.collapse#nav-links
            ul.nav.navbar-nav.navbar-right
              if !user.firstTime
                li
                  a(href='/instructions') Instructions
                li
                  a(href='/reservations') Reservations

  #profile
      form(action='', method='post')
          label Informacion General
          if !user.hasOwnProperty('name')
            input.form-control#Name(type='text', placeholder='Nombre', name='name', required='')
          else
            input.form-control#Name(type='text', placeholder='Nombre', name='name', value='#{user.name}', required='')

          if !user.hasOwnProperty('flname')
            input.form-control#FLName(type='text', placeholder='Apellido Paterno', name='flname', required='')
          else
            input.form-control#Name(type='text', placeholder='Apellido Paterno', name='flname', value='#{user.flname}', required='')

          if !user.hasOwnProperty('mlname')
            input.form-control#FLName(type='text', placeholder='Apellido Materno', name='mlname', required='')
          else
            input.form-control#Name(type='text', placeholder='Apellido Materno', name='mlname', value='#{user.mlname}', required='')
          br
          if !user.hasOwnProperty('birth')
            input.form-control#Birth(type='text', placeholder='Fecha de Nacimiento', name='birth', required='')
          else
            input.form-control#Birth(type='text', placeholder='Fecha de Nacimiento', name='birth', value='#{user.birth}', required='') 
          
          input.form-control#Email(type='email', placeholder='Email', name='email', value='#{user.email}', required='')
          
          if !user.hasOwnProperty('profession')
            label Profesion 
            select
              option(value="doctor") Medico
              option(value="acountant") Contable
              option(value="lawyer") Abogado
              option(value="professor") Profesor
              option(value="other") Otro
          else
            label Profesion 
            select
              if user.phoneProvider === 'doctor'
                option(value="doctor" selected) Medico
              else
                option(value="doctor") Medico
              if user.phoneProvider === 'acountant'
                option(value="acountant" selected) Contable
              else
                option(value="acountant") Contable
              if user.phoneProvider === 'lawyer'
                option(value="lawyer" selected) Abogado
              else
                option(value="lawyer") Abogado
              if user.phoneProvider === 'professor'
                option(value="professor" selected) Profesor
              else
                option(value="professor") Profesor
              if user.phoneProvider === 'other'
                option(value="other" selected) Otro
              else
                option(value="other") Otro

          if !user.hasOwnProperty('other')
            input.form-control#Name(type='text', placeholder='Si otro, especifica', name='other')
          else
            input.form-control#Name(type='text', placeholder='Si otro, especifica', name='other', value='#{user.other}')

          if !user.hasOwnProperty('gender')
            label Hombre 
              input.form-control#Language(type="radio", name="gender", value="male", required="")
            label Mujer 
              input.form-control#Language(type="radio", name="gender", value="female", required="")
          else
            if user.gender === 'male'
              label Hombre 
                input.form-control#Language(type="radio", name="gender", value="male", required="", checked)
              label Mujer 
                input.form-control#Language(type="radio", name="gender", value="female", required="")
            else
              label Hombre 
                input.form-control#Language(type="radio", name="gender", value="male", required="")
              label Mujer 
                input.form-control#Language(type="radio", name="gender", value="female", required="", checked)
          br
          label Direccion Fisica

          if !user.hasOwnProperty('faddress1')
            input.form-control#Address(type='text', placeholder='Calle 1', name='faddress1', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 1', name='faddress1', value='#{user.faddress1}', required='')

          if !user.hasOwnProperty('faddress2')
            input.form-control#Address(type='text', placeholder='Calle 2', name='faddress2', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 2', name='faddress2', value='#{user.faddress2}', required='')
          br
          if !user.hasOwnProperty('city')
            input.form-control#Address(type='text', placeholder='Ciudad', name='city', required='')
          else
            input.form-control#Address(type='text', placeholder='Ciudad', name='city', value='#{user.city}', required='')

          if !user.hasOwnProperty('country')
            input.form-control#Address(type='text', placeholder='Pais', name='country', required='')
          else
            input.form-control#Address(type='text', placeholder='Pais', name='country', value='#{user.country}', required='')

          if !user.hasOwnProperty('zipcode')
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='zipcode', required='')
          else
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='zipcode', value='#{user.zipcode}', required='')
          br
          label Direccion Postal

          if !user.hasOwnProperty('paddress1')
            input.form-control#Address(type='text', placeholder='Calle 1', name='paddress1', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 1', name='paddress1', value='#{user.paddress1}', required='')

          if !user.hasOwnProperty('paddress2')
            input.form-control#Address(type='text', placeholder='Calle 2', name='paddress2', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 2', name='paddress2', value='#{user.paddress2}', required='')
          br
          if !user.hasOwnProperty('pcity')
            input.form-control#Address(type='text', placeholder='Ciudad', name='pcity', required='')
          else
            input.form-control#Address(type='text', placeholder='Ciudad', name='pcity', value='#{user.pcity}', required='')

          if !user.hasOwnProperty('pcountry')
            input.form-control#Address(type='text', placeholder='Pais', name='pcountry', required='')
          else
            input.form-control#Address(type='text', placeholder='Pais', name='pcountry', value='#{user.pcountry}', required='')

          if !user.hasOwnProperty('pzipcode')
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='pzipcode', required='')
          else
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='pzipcode', value='#{user.pzipcode}', required='')
          br
          label Informacion de Contacto
          if !user.hasOwnProperty('phoneNumber')
            input.form-control#Birth(type='text', placeholder='Numero de Telefono', name='phoneNumber', required='')
          else
            input.form-control#Birth(type='text', placeholder='Numero de Telefono', name='phoneNumber', value='#{user.phoneNumber}', required='')
          br

          label Informacion de Trabajo
          if !user.hasOwnProperty('workPhone')
            input.form-control#Birth(type='text', placeholder='Numero de Trabajo', name='workPhone', required='')
          else
            input.form-control#Birth(type='text', placeholder='Numero de Telefono', name='workPhone', value='#{user.workPhone}', required='')

          if !user.hasOwnProperty('workPlace')
            input.form-control#Birth(type='text', placeholder='Lugar de Trabajo', name='workPlace', required='')
          else
            input.form-control#Birth(type='text', placeholder='Lugar de Telefono', name='workPlace', value='#{user.workPlace}', required='')
          br
          label Direccion de Trabajo

          if !user.hasOwnProperty('wstreet1')
            input.form-control#Address(type='text', placeholder='Calle 1', name='wstreet1', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 1', name='wstreet1', value='#{user.wstreet1}', required='')

          if !user.hasOwnProperty('wstreet2')
            input.form-control#Address(type='text', placeholder='Calle 2', name='wstreet2', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 2', name='wstreet2', value='#{user.wstreet2}', required='')
          br
          if !user.hasOwnProperty('wcity')
            input.form-control#Address(type='text', placeholder='Ciudad', name='wcity', required='')
          else
            input.form-control#Address(type='text', placeholder='Ciudad', name='wcity', value='#{user.wcity}', required='')

          if !user.hasOwnProperty('wcountry')
            input.form-control#Address(type='text', placeholder='Pais', name='wcountry', required='')
          else
            input.form-control#Address(type='text', placeholder='Pais', name='wcountry', value='#{user.wcountry}', required='')

          if !user.hasOwnProperty('wzipcode')
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='wzipcode', required='')
          else
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='wzipcode', value='#{user.wzipcode}', required='')
          br
          if !user.hasOwnProperty('email_oficina')
            input.form-control#Email(type='email', placeholder='Email Oficina', name='email_oficina', required='')
          else
            input.form-control#Email(type='email', placeholder='Email Oficina', name='email_oficina', value='#{user.email_oficina}', required='')
          br
          if !user.hasOwnProperty('license')
            input.form-control#Name(type='text', placeholder='Licencia', name='license',required='')
          else
            input.form-control#Name(type='text', placeholder='Licencia', name='license', value='#{user.license}', required='')
          br
          button.btn.btn-success(type='submit') Save Profile
          
  

block script
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')