extends layout

block content
  div.navbar.navbar-default(role="navigation")
    div.container-fluid
        div.navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav-links")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            span.navbar-brand User Profile

        div.navbar-collapse.collapse#nav-links
            ul.nav.navbar-nav.navbar-right
              if !user.firstTime
                li
                  a(href='/instructions') Instructions
                li
                  a(href='/reservations') Reservations
  #profile
      form(action='', method='post')
          label Informacion General
          if !user.hasOwnProperty('name')
            input.form-control#Name(type='text', placeholder='Nombre', name='name', required='')
          else
            input.form-control#Name(type='text', placeholder='Nombre', name='name', value='#{user.name}', required='')

          if !user.hasOwnProperty('flname')
            input.form-control#FLName(type='text', placeholder='Apellido Paterno', name='flname', required='')
          else
            input.form-control#Name(type='text', placeholder='Apellido Paterno', name='flname', value='#{user.flname}', required='')

          if !user.hasOwnProperty('mlname')
            input.form-control#FLName(type='text', placeholder='Apellido Materno', name='mlname', required='')
          else
            input.form-control#Name(type='text', placeholder='Apellido Materno', name='mlname', value='#{user.mlname}', required='')
          br
          if !user.hasOwnProperty('birth')
            input.form-control#Birth(type='text', placeholder='Fecha de Nacimiento', name='birth', required='')
          else
            input.form-control#Birth(type='text', placeholder='Fecha de Nacimiento', name='birth', value='#{user.birth}', required='')
          if !user.hasOwnProperty('gender')
            label Hombre 
              input.form-control#Language(type="radio", name="gender", value="male", required="")
            label Mujer 
              input.form-control#Language(type="radio", name="gender", value="female", required="")
          else
            if user.gender === 'male'
              label Hombre 
                input.form-control#Language(type="radio", name="gender", value="male", required="", checked)
              label Mujer 
                input.form-control#Language(type="radio", name="gender", value="female", required="")
            else
              label Hombre 
                input.form-control#Language(type="radio", name="gender", value="male", required="")
              label Mujer 
                input.form-control#Language(type="radio", name="gender", value="female", required="", checked)
          br
          label Direccion Fisica

          if !user.hasOwnProperty('faddress1')
            input.form-control#Address(type='text', placeholder='Calle 1', name='faddress1', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 1', name='faddress1', value='#{user.faddress1}', required='')

          if !user.hasOwnProperty('faddress2')
            input.form-control#Address(type='text', placeholder='Calle 2', name='faddress2', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 2', name='faddress2', value='#{user.faddress2}', required='')
          br
          if !user.hasOwnProperty('city')
            input.form-control#Address(type='text', placeholder='Ciudad', name='city', required='')
          else
            input.form-control#Address(type='text', placeholder='Ciudad', name='city', value='#{user.city}', required='')

          if !user.hasOwnProperty('country')
            input.form-control#Address(type='text', placeholder='Pais', name='country', required='')
          else
            input.form-control#Address(type='text', placeholder='Pais', name='country', value='#{user.country}', required='')

          if !user.hasOwnProperty('zipcode')
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='zipcode', required='')
          else
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='zipcode', value='#{user.zipcode}', required='')
          br
          label Direccion Postal

          if !user.hasOwnProperty('paddress1')
            input.form-control#Address(type='text', placeholder='Calle 1', name='paddress1', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 1', name='paddress1', value='#{user.paddress1}', required='')

          if !user.hasOwnProperty('paddress2')
            input.form-control#Address(type='text', placeholder='Calle 2', name='paddress2', required='')
          else
            input.form-control#Address(type='text', placeholder='Calle 2', name='paddress2', value='#{user.paddress2}', required='')
          br
          if !user.hasOwnProperty('pcity')
            input.form-control#Address(type='text', placeholder='Ciudad', name='pcity', required='')
          else
            input.form-control#Address(type='text', placeholder='Ciudad', name='pcity', value='#{user.pcity}', required='')

          if !user.hasOwnProperty('pcountry')
            input.form-control#Address(type='text', placeholder='Pais', name='pcountry', required='')
          else
            input.form-control#Address(type='text', placeholder='Pais', name='pcountry', value='#{user.pcountry}', required='')

          if !user.hasOwnProperty('pzipcode')
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='pzipcode', required='')
          else
            input.form-control#Address(type='text', placeholder='Codigo Postal', name='pzipcode', value='#{user.pzipcode}', required='')
          br
          label Informacion de Contacto
          if !user.hasOwnProperty('phoneNumber')
            input.form-control#Birth(type='text', placeholder='Numero de Telefono', name='phoneNumber', required='')
          else
            input.form-control#Birth(type='text', placeholder='Numero de Telefono', name='phoneNumber', value='#{user.phoneNumber}', required='')

          if !user.hasOwnProperty('phoneProvider')
            label Proveedor de Telefono 
            select
              option(value="tmobile") Tmobile
              option(value="att") AT&T
              option(value="claro") Claro
              option(value="open") Open Mobile
          else
            label Proveedor de Telefono 
            select
              if user.phoneProvider === 'tmobile'
                option(value="tmobile" selected) Tmobile
              else
                option(value="tmobile") Tmobile
              if user.phoneProvider === 'att'
                option(value="att" selected) AT&T
              else
                option(value="att") AT&T
              if user.phoneProvider === 'claro'
                option(value="claro" selected) Claro
              else
                option(value="claro") Claro
              if user.phoneProvider === 'open' 
                option(value="open" selected) Open Mobile
              else
                option(value="open") Open Mobile
          br

          label Informacion de Trabajo
          if !user.hasOwnProperty('workPhone')
            input.form-control#Birth(type='text', placeholder='Numero de Trabajo', name='workPhone', required='')
          else
            input.form-control#Birth(type='text', placeholder='Numero de Telefono', name='workPhone', value='#{user.workPhone}', required='')

          if !user.hasOwnProperty('workPlace')
            input.form-control#Birth(type='text', placeholder='Lugar de Trabajo', name='workPlace', required='')
          else
            input.form-control#Birth(type='text', placeholder='Lugar de Telefono', name='workPlace', value='#{user.workPlace}', required='')
          br
          label Contacto de Emergencia
          if !user.hasOwnProperty('emergency_name')
            input.form-control#Birth(type='text', placeholder='Nombre', name='emergency_name', required='')
          else
            input.form-control#Birth(type='text', placeholder='Nombre', name='emergency_name', value='#{user.emergency_name}', required='')
          if !user.hasOwnProperty('emergency_relation')
            input.form-control#Birth(type='text', placeholder='Parentesco', name='emergency_relation', required='')
          else
            input.form-control#Birth(type='text', placeholder='Parentesco', name='emergency_relation', value='#{user.emergency_relation}', required='')
          if !user.hasOwnProperty('emergency_number')
            input.form-control#Birth(type='text', placeholder='Numero', name='emergency_number', required='')
          else
            input.form-control#Birth(type='text', placeholder='Numero', name='emergency_number', value='#{user.emergency_number}', required='')
          label Informacion Medica
          if !user.hasOwnProperty('medicalPlan')
            input.form-control#Billing(type='text', placeholder='Plan Medico', name='medicalPlan', required='')
          else
            input.form-control#Billing(type='text', placeholder='Plan Medico', name='medicalPlan', value='#{user.medicalPlan}', required='')
          if !user.hasOwnProperty('primaryDoctor')
            input.form-control#Billing(type='text', placeholder='Doctor primario', name='primaryDoctor', required='')
          else
            input.form-control#Billing(type='text', placeholder='Doctor primario', name='primaryDoctor', value='#{user.primaryDoctor}', required='')
          br
          label Informacion de Cobro
          if !user.hasOwnProperty('billing')
            input.form-control#Billing(type='text', placeholder='Datos de Cobro', name='billing', required='')
          else
            input.form-control#Billing(type='text', placeholder='Datos de Cobro', name='billing', value='#{user.billing}', required='')
          br
          button.btn.btn-success(type='submit') Save Profile
          
          
  

block script
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')