extends layout

block content
  h1 Video view!
  #videoRunningTime(style="z-index: 3000; position: relative;")
  h3 List of available users(change to interpreters later)
  ul
    each val in users
      li(class="callbutton", data-userid="#{val._id}")
        a(href="#")= val.name
      br

block script
  script(src='https://static.vline.com/vline.js')
  script(src='/javascripts/vendor/countdown.js')

  script.
    var vlineClient = (function() {
      var client, vlinesession,
        authToken = "#{jwt}",
        serviceId = "#{serviceId}",
        profile = {"displayName": "#{session.user.name}", "id": "#{session.user._id}"},
        resId = "#{resId}";


      window.vlineClient = client = vline.Client.create({"serviceId": serviceId, "ui": true});

      client.on('login', onLogin);

      client.login(serviceId, profile, authToken);

      function onLogin(event) {
        vlinesession = event.target;

        $('.callbutton').each(function (index, element) {
            initCallButton($(this));
          });
      }

      function initCallButton(button) {
        var userId = button.attr("data-userid");

        vlinesession.getPerson(userId).done(function (person) {

          function quitSessionAndSaveTime(arg) {
            person.stopMedia();
            $.ajax({
              type: 'POST',
              url: '/video/add-time',
              data: {time: true, id: resId },
              dataType: 'JSON'
            }).done(function(res) {
                console.log("Time saved to db!");
            });
            window.location = '/reservations';
          }

          function onPresenceChange() {
            if(person.getPresenceState() == 'online') {
              button.removeClass().addClass('btn-primary');
            } else {
              button.removeClass();
            }
            button.attr('data-presence', person.getPresenceState());
          }

          onPresenceChange();

          person.on('change', onPresenceChange);

          button.click(function() {
            if (person.getId() == vlinesession.getLocalPersonId()) {
              alert('You cannot call yourself. Mojon.');
              return;
            }
            if (button.hasClass('btn-primary')) {
              var med = person.startMedia();
              med.on('enterState:connecting', function() {
                console.log('Time is running!');
                var myCountdown2 = new Countdown({
                  time: 10, 
                  width: 150, 
                  height: 80, 
                  rangeHi: "minute",
                  target: "videoRunningTime",
                  onComplete: quitSessionAndSaveTime
                });
              });
              med.on('exitState:connecting', function() {
                console.log("Time stopped! Save to db!");
                quitSessionAndSaveTime("done");
              });
            }
          });
        });
      }

      return client;
    })();

    $(window).unload(function() {
      vlineClient.logout();
    })
